@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #d5c7ff;
}

h1 {
    font-weight: 700;
}

h4 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #25235c;
    width: 500px;
    border-radius: 2em;
    overflow: hidden;
    color: #fff;

}

.btn-mode {
    font-size: 20px;
    background-color: #f2da19;
    font-size: 20px;
    padding: 0.8em;
    display: inline-block;
    border-radius: 0 0 10px 0;
    cursor: pointer;
}

.btn-mode .fa-lightbulb {
color: #25235c;
}

.foto {
   text-align: center;
   line-height: 1em;
}

.foto img {
    width: 200px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #f2da19;
}

.name h4 {
    color: #6a62b8;
}

.name p {
    line-height: 1.5em;
}

.name .dev {
    font-weight: bold;
    text-transform: uppercase;
}

.skills  {
    display: flex;
    margin: 2em 0;
    justify-content: center;
}

.skills .col-1 {
    display: block;
    text-transform: uppercase;
    /* margin-right: 1em ; */
}

.social-media ul {
    display: flex;
    justify-content: space-around;
}

.social-media ul li {
    display: inline;
    margin-left: -2.5em;
}

.social-media ul li a{
    color: #fff;
    font-size: 25px;
}

.skills {
    text-align: center;
}

.skills span {
    display: inline;
  background-color: #6a62b8;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #fff;
  font-weight: 600;
  line-height: 3.5em;

  padding: .75rem 1rem;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

/* .skills span:hover {
  background-color: rgb(249,250,251);
} */

.skills span:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.skills span:focus-visible {
  box-shadow: none;
}

.dark-mode {
    background-color: #fff;
    color: #25235c;
  }

  .color-dark  ul li a{
    color: #25235c;
}

.bg-dark  span {
  background-color: #25235c;
}

